<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{auth/parts/common :: head}"></div>
</head>
<body>
<div th:insert="~{auth/parts/common :: body}"></div>

<div class="container-fluid h-100 justify-content-center align-items-center p-3" style="width: 20rem">
    <div class="row bg-light shadow-lg">
        <div class="col border rounded p-3">
            <h3 class="text-center mb-3">Регистрация</h3>
            <form th:method="POST" th:action="@{/auth/registration}" th:object="${staffer}">
                <!--Имя-->
                <div class="mb-0">
                    <label class="text-muted">Имя</label>
                    <input type="text" class="form-control" th:field="*{stafferName}"
                           th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferName')}"
                         th:errors="*{stafferName}" class="invalid-feedback text-break"></div>
                </div>
                <!--Фамилия-->
                <div class="mb-0">
                    <label class="text-muted">Фамилия</label>
                    <input type="text" class="form-control" th:field="*{stafferSurname}"
                           th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferSurname')}"
                         th:errors="*{stafferSurname}" class="invalid-feedback text-break"></div>
                </div>
                <!--Отчество-->
                <div class="mb-0">
                    <label class="text-muted">Отчество</label>
                    <input type="text" class="form-control" th:field="*{stafferPatronymic}"
                           th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferPatronymic')}"
                         th:errors="*{stafferPatronymic}" class="invalid-feedback text-break"></div>
                </div>
                <!--Дата рождения-->
                <div class="mb-0">
                    <label class="text-muted">Дата рождения</label>
                    <input type="date" class="form-control" th:field="*{stafferDateOfBirth}"
                           th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferDateOfBirth')}"
                         th:errors="*{stafferDateOfBirth}" class="invalid-feedback text-break"></div>
                </div>
                <!--Филиал-->
                <div>
                    <label class="text-muted">Ваш филиал</label>
                    <select class="form-select mb-0" th:field="*{stafferBranch}"
                            th:errorclass="is-invalid">
                        <option th:value="null">Выберите из списка</option>
                        <option th:each="b : ${allBranches}" th:value="${b.branchId}"
                                th:text="${b.branchName}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('stafferBranch')}"
                         th:errors="*{stafferBranch}" class="invalid-feedback text-break"></div>
                </div>
                <!--Магазин-->
                <div>
                    <label class="text-muted">Ваш магазин</label>
                    <select class="form-select mb-0" th:field="*{stafferShop}"
                            th:errorclass="is-invalid" aria-describedby="stafferShopHelper">
                        <option th:value="null">Сначала выберите филиал</option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('stafferShop')}"
                         th:errors="*{stafferShop}" class="invalid-feedback text-break"></div>
                    <!--TODO поправить ссылку на создание магазина-->
                    <div id="stafferShopHelper" class="form-text text-center mb-0">
                        Не нашли свой магазин? Нажмите <a href="#"> здесь</a>
                    </div>
                </div>
                <!--Скрипт для отображения списка магазинов в зависимости от выбранного филиала-->
                <script>
                    $(document).ready(function () {
                        $('#stafferBranch').on('change', function () {
                            $('#stafferShop').empty().append('<option th:value="null">Выберите из списка</option>');
                            var selectedBranchId = $(this).val();
                            var href = "http://192.168.0.106:8080/branch/" + selectedBranchId
                            $.get(href, function (branchFromBranchesPage) {
                                var shopsFromBranch = branchFromBranchesPage.shopsOfBranch;
                                for (var i = 0; i <= shopsFromBranch.length - 1; i++) {
                                    $('#stafferShop').append('<option value="' + shopsFromBranch[i].shopId + '">' + shopsFromBranch[i].shopName + '</option>');
                                }
                            })
                        })
                    })
                </script>
                <!--Должность-->
                <div>
                    <label class="text-muted">Должность</label>
                    <select class="form-select mb-0" th:field="*{stafferPosition}"
                            th:errorclass="is-invalid">
                        <option th:value="${null}">Выберите из списка</option>
                        <option th:each="p : ${allPositions}" th:value="${p.getPositionId()}"
                                th:text="${p.getPositionName()}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('stafferPosition')}"
                         th:errors="*{stafferPosition}" class="invalid-feedback text-break"></div>
                </div>
                <!--Номер телефона-->
                <div class="mb-0">
                    <label class="text-muted">Номер телефона</label>
                    <input type="text" class="form-control" th:field="*{stafferPhoneNumber}"
                           th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferPhoneNumber')}"
                         th:errors="*{stafferPhoneNumber}" class="invalid-feedback text-break"></div>
                </div>
                <script>
                    $("#stafferPhoneNumber").mask("+7 (999) 999-9999");
                </script>

                <div th:object="${user}">
                    <!--Имя пользователя-->
                    <div class="mb-0">
                        <label class="text-muted">Почтовый ящик</label>
                        <!--TODO сменить тип на емэйл-->
                        <input type="text" class="form-control" th:field="*{username}"
                               th:errorclass="is-invalid">
                        <div style="color: red" th:if="${#fields.hasErrors('username')}"
                             th:errors="*{username}" class="invalid-feedback text-break"></div>
                    </div>
                    <!--Пароль-->
                    <div class="mb-0">
                        <label class="text-muted">Пароль</label>
                        <input type="password" class="form-control" th:field="*{password}"
                               th:errorclass="is-invalid">
                        <div style="color: red" th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}" class="invalid-feedback text-break"></div>
                    </div>
                    <!--Повтор пароля-->
                    <div class="mb-2">
                        <label class="text-muted">Повторный ввод пароля</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}"
                               th:errorclass="is-invalid" aria-describedby="rptPwdHelper">
                        <div style="color: red" th:if="${#fields.hasErrors('confirmPassword')}"
                             th:errors="*{confirmPassword}" class="invalid-feedback text-break"></div>
                        <!--TODO поправить ссылку на политику конфиденциальности-->
                        <div id="rptPwdHelper" class="form-text text-center">
                            <div>Создавая учетную запись, вы соглашаетесь</div>
                            <div>с нашей <a href="#">Политикой конфиденциальности</a></div>
                        </div>
                    </div>
                </div>
                <!--Кнопка регистрации-->
                <div class="col-md-12 text-center d-grid">
                    <button type="submit" class="btn btn-outline-danger" aria-describedby="regBtnHelper">
                        Зарегистрироваться
                    </button>
                    <div id="regBtnHelper" class="form-text">
                        Уже зарегистрированы? Можете <a href="/auth/login">войти</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>