<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:insert="~{parts/common :: head}"></div>
</head>
<body>
<div th:insert="~{parts/common :: body}"></div>
<div th:insert="~{parts/navbar :: navbar}"></div>

<div class="container-fluid h-100 justify-content-center align-items-center p-3" style="width: 20rem">
    <div class="row bg-light shadow-lg">
        <div class="col border rounded p-3">
            <h3 class="text-center mb-3">
                <div>Редактирование</div>
                <div>профиля</div>
            </h3>
            <form th:method="POST" th:action="@{/myProfile}" th:object="${currentStaffer}">
                <!--Имя-->
                <div class="mb-0">
                    <label class="text-muted">Имя</label>
                    <input type="text" class="form-control" th:field="*{stafferName}"
                           th:value="*{stafferName}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferName')}"
                         th:errors="*{stafferName}" class="invalid-feedback text-break"></div>
                </div>
                <!--Фамилия-->
                <div class="mb-0">
                    <label class="text-muted">Фамилия</label>
                    <input type="text" class="form-control" th:field="*{stafferSurname}"
                           th:value="*{stafferSurname}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferSurname')}"
                         th:errors="*{stafferSurname}" class="invalid-feedback text-break"></div>
                </div>
                <!--Отчество-->
                <div class="mb-0">
                    <label class="text-muted">Отчество</label>
                    <input type="text" class="form-control" th:field="*{stafferPatronymic}"
                           th:value="*{stafferPatronymic}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferPatronymic')}"
                         th:errors="*{stafferPatronymic}" class="invalid-feedback text-break"></div>
                </div>
                <!--Дата рождения-->
                <div class="mb-0">
                    <label class="text-muted">Дата рождения</label>
                    <input type="date" class="form-control" th:field="*{stafferDateOfBirth}"
                           th:value="*{{stafferDateOfBirth}}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferDateOfBirth')}"
                         th:errors="*{stafferDateOfBirth}" class="invalid-feedback text-break"></div>
                </div>
                <!--Филиал-->
                <div>
                    <label class="text-muted">Ваш филиал</label>
                    <select class="form-select mb-0" th:field="*{stafferBranch}"
                            th:errorclass="is-invalid">
                        <option selected disabled th:value="*{stafferBranch.branchId}"
                                th:text="*{stafferBranch.branchName}">
                        </option>
                        <option th:each="b : ${allBranches}" th:value="${b.branchId}"
                                th:text="${b.branchName}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('stafferBranch')}"
                         th:errors="*{stafferBranch}" class="invalid-feedback text-break"></div>
                </div>
                <!--Магазин-->
                <div>
                    <label class="text-muted">Ваш магазин</label>
                    <select class="form-select mb-0" th:field="*{stafferShop}"
                            th:errorclass="is-invalid" aria-describedby="stafferShopHelper">
                        <option selected disabled th:value="*{stafferShop.shopId}"
                                th:text="*{stafferShop.shopName}">
                        </option>
                        <option th:each="s : ${allShops}" th:value="${s.shopId}"
                                th:text="${s.shopName}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('stafferShop')}"
                         th:errors="*{stafferShop}" class="invalid-feedback text-break"></div>
                    <!--TODO поправить ссылку на создание магазина-->
                    <div id="stafferShopHelper" class="form-text text-center mb-0">
                        Не нашли свой магазин? Нажмите <a href="#"> здесь</a>
                    </div>
                </div>
                <!--Скрипт для отображения списка магазинов в зависимости от выбранного филиала-->

                <script>
                    $(document).ready(function () {
                        $('#stafferBranch').on('change', function () {
                            $('#stafferShop').empty().append('<option th:value="null">Выберите из списка</option>');
                            var selectedBranchId = $(this).val();
                            var href = "http://192.168.0.106:8080/branch/" + selectedBranchId
                            $.get(href, function (branchFromBranchesPage) {
                                var shopsFromBranch = branchFromBranchesPage.shopsOfBranch;
                                for (var i = 0; i <= shopsFromBranch.length - 1; i++) {
                                    $('#stafferShop').append('<option value="' + shopsFromBranch[i].shopId + '">' + shopsFromBranch[i].shopName + '</option>');
                                }
                            })
                        })
                    })
                </script>
                <div>
                    <label class="text-muted">Ваша должность</label>
                    <select class="form-select mb-0" th:field="*{stafferPosition}"
                            th:errorclass="is-invalid">
                        <option selected disabled th:value="*{stafferPosition.positionId}"
                                th:text="*{stafferPosition.positionName}"></option>
                        <option th:each="p : ${allPositions}" th:value="${p.positionId}"
                                th:text="${p.positionName}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('stafferPosition')}"
                         th:errors="*{stafferPosition}" class="invalid-feedback text-break"></div>
                </div>
                <div class="mb-3">
                    <label class="text-muted">Номер телефона</label>
                    <input type="text" class="form-control" th:field="*{stafferPhoneNumber}"
                           th:value="*{stafferPhoneNumber}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('stafferPhoneNumber')}"
                         th:errors="*{stafferPhoneNumber}" class="invalid-feedback text-break"></div>
                </div>
                <script>
                    $("#stafferPhoneNumber").mask("+7 (999) 999-9999");
                </script>
                <div class="col-md-12 mb-0 text-center">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>