<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:insert="~{requests/parts/common :: head}"></div>
</head>
<body>
<div th:insert="~{requests/parts/common :: body}"></div>
<div th:insert="~{parts/navbar :: navbar}"></div>

<!--навигация по страницам-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item"><a href="/requests">Заявки</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создание заявки</li>
    </ol>
</nav>

<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="row bg-light shadow-lg">
        <div class="col border rounded p-3">
            <h3 class="text-center mb-3">
                <b th:text="${shopName}"></b>
            </h3>
            <form name="add_request" method="post" action="/requests/add_request">
                <div>
                    <label class="text-muted" for="numberOfReqStaffers">Необходимо человек</label>
                    <select class="form-select mb-0" aria-required="true"
                            id="numberOfReqStaffers" name="numberOfReqStaffers">
                        <th:block th:each="number : ${numberOfStaffers}">
                            <option th:value="${number}" th:text="${number}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label class="text-muted" for="reqPosition">Необходимая должность</label>
                    <select class="form-select mb-0" aria-required="true" id="reqPosition" name="reqPosition">
                        <option th:value="Продавец" th:text="Продавец"></option>
                        <option th:value="'Ст. ' + 'продавец'" th:text="'Ст. ' + 'продавец'"></option>
                        <option th:value="Товаровед" th:text="Товаровед"></option>
                        <option th:value="'Зам. ' + 'директора'" th:text="'Зам. ' + 'директора'"></option>
                        <option th:value="Директор" th:text="Директор"></option>
                    </select>
                </div>
                <div class="mb-0">
                    <label class="text-muted" for="dateOfWork">Дата работы</label>
                    <input type="date" class="form-control" name="dateOfWork" id="dateOfWork">
                </div>
                <div class="mb-0">
                    <label class="text-muted" for="startTime">Время начала</label>
                    <input type="time" class="form-control" name="startTime" id="startTime">
                </div>
                <div class="mb-3">
                    <label class="text-muted" for="endTime">Время окончания</label>
                    <input type="time" class="form-control" name="endTime" id="endTime">
                </div>
                <div class="row m-0 mb-0 text-xl-center">
                    <button type="submit" class="btn btn-outline-danger">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>