<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{parts/common :: head}"></div>
</head>

<body>
<div th:insert="~{parts/common :: body}"></div>
<div th:insert="~{parts/navbar :: navbar}"></div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item active" aria-current="page">Заявки</li>
    </ol>
</nav>

<!--форма фильтра-->
<div class="container-fluid mb-1">
    <div class="bg-light shadow">
        <div class="col border rounded p-3">
            <h5 class="text-start">Фильтрация</h5>
            <form class="row g-2" name="filter_request" th:method="get" th:action="@{/requests/allRequests}">
                <label for="filter">Поиск по названию ММ</label>
                <div class="col-auto">
                    <input type="text" class="form-control" name="filter" id="filter">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-danger">Найти</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--список заявок-->
<div class="container-fluid mb-2 d-flex">
    <div class="bg-light shadow border rounded">
        <div class="row flex-row p-2">
            <!--карточка с добавлением заявки-->
            <div class="col">
                <div class="card shadow justify-content-center text-center"
                     style="width: 20rem; height: 20rem">
                    <a class="stretched-link" th:href="@{/requests/addRequest}"></a>
                    <i class="bi bi-file-plus opacity-50" style="font-size: 17rem;"></i>
                </div>
            </div>

            <th:block th:each="r : ${filterRequests}">
                <div class="col">
                    <!--карточка с заявкой-->
                    <div class="card shadow" style="width: 20rem; height: 20rem">
                        <div class="card-header bg-transparent text-center">
                            <h4><b th:text="${r.requestShop.shopName}"></b></h4>
                        </div>
                        <div class="card-body text-center">
                            <!--<a class="stretched-link" th:href="/requests/staffers_list/${request.getRequestId()}"></a>-->

                            <!--отображение необходимого кол-ва сотрудников, поданных заявок и одобренных заявок-->
                            <div class="mb-3">
                                <h5>
                                    <a th:href="@{/requests/staffersList/{id}(id = ${r.requestId})}"
                                       class="btn btn-light bg-body border-white">
                                        <!--                                    <a th:href="@{/requests/staffersList/{id}(id = ${r.getRequestId()})}"-->
                                        <!--                                       style="color: #f9d403">-->
                                        <img th:src="@{/images/staffer_search_min.png}" alt="staffer_search_min"
                                             th:text="${r.getRequestNumOfReqStaffers()}">
                                        <!--                                    </a>-->
                                        <!--                                    <a th:href="@{/requests/staffersList/{id}(id = ${r.getRequestId()})}"-->
                                        <!--                                       style="color: #7f7f7f">-->
                                        <img th:src="@{/images/staffer_not_approved_min.png}"
                                             alt="staffer_not_approved_min"
                                             th:text="${r.getCountOfNotApprovedStaffersInRequest()}">
                                        <!--                                    </a>-->
                                        <!--                                    <a th:href="@{/requests/staffersList/{id}(id = ${r.getRequestId()})}"-->
                                        <!--                                       style="color: #07c967">-->
                                        <img th:src="@{/images/staffer_approved_min.png}" alt="staffer_approved_min"
                                             th:text="${r.getCountOfApprovedStaffersInRequest()}">
                                        <!--                                    </a>-->
                                    </a>
                                </h5>
                            </div>
                            <!--требуемая должность-->
                            <div class="mb-3">
                                <h5><b class="bi bi-search p-1" th:text=" ${r.requestReqPosition.positionName}"></b>
                                </h5>
                            </div>
                            <!--требуемая дата выхода на работу-->
                            <div class="mb-3">
                                <h5>
                                    <b class="bi bi-calendar2-date-fill p-1"
                                       th:text=" ${#dates.format(r.getRequestDateOfWork(), 'dd.MM.yyyy')}"></b>
                                </h5>
                            </div>
                            <!--требуемое время работы-->
                            <div class="mb-3">
                                <h5>
                                    <b class="bi bi-clock-fill p-1" th:text=" ${#dates.format(r.getRequestStartTime(), 'HH:mm')} + ' - ' +
                                    ${#dates.format(r.getRequestEndTime(), 'HH:mm')}"></b>
                                </h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-end">
                                <!--кнопка добавления залогиненного пользователя в заявку-->
                                <div class="col-auto">
                                    <form th:method="POST"
                                          th:action="@{/requests/allRequests/{id}(id = ${r.requestId})}">
                                        <button type="submit" class="btn btn-outline-danger">Подать заявку</button>
                                    </form>
                                </div>
                                <!--кнопка редактирования заявки-->
                                <div class="col-auto">
                                    <form th:method="GET"
                                          th:action="@{/requests/editRequest/{id}(id = ${r.getRequestId()})}">
                                        <button type="submit" class="btn btn-outline-danger">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

</body>

</html>