<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{parts/common :: head}"></div>
</head>
<body>
<div th:insert="~{parts/common :: body}"></div>
<div th:insert="~{parts/navbar :: navbar}"></div>

<!--навигация по страницам-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item"><a href="/requests/allRequests">Заявки</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование заявки</li>
    </ol>
</nav>

<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0" style="width: 20rem">
    <div class="row bg-light shadow-lg">
        <div class="col border rounded p-3">
            <h3 class="text-center mb-3">
                <b>Редактирование</b>
            </h3>
            <form th:method="POST" th:action="@{/requests/editRequest/{id}(id = ${currentRequest.requestId})}"
                  th:object="${currentRequest}">
                <!--Магазин-->
                <div hidden>
                    <label class="text-muted">Магазин</label>
                    <select class="form-select mb-0" th:field="*{requestShop}"
                            th:errorclass="is-invalid">
                        <option th:value="${currentRequest.requestShop.shopId}"
                                th:text="${currentRequest.requestShop.shopName}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('requestShop')}"
                         th:errors="*{requestShop}" class="invalid-feedback text-break"></div>
                </div>
                <!--Необходимо человек-->
                <div>
                    <label class="text-muted">Необходимо человек</label>
                    <select class="form-select mb-0" th:field="*{requestNumOfReqStaffers}"
                            th:errorclass="is-invalid">
                        <option selected disabled th:value="*{requestNumOfReqStaffers}"
                                th:text="*{requestNumOfReqStaffers}">
                        </option>
                        <option th:each="num : ${#numbers.sequence(1, 10)}" th:value="${num}"
                                th:text="${num}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('requestNumOfReqStaffers')}"
                         th:errors="*{requestNumOfReqStaffers}" class="invalid-feedback text-break"></div>
                </div>
                <!--Необходимая должность-->
                <div>
                    <label class="text-muted">Необходимая должность</label>
                    <select class="form-select mb-0" th:field="*{requestReqPosition}"
                            th:errorclass="is-invalid">
                        <option selected disabled th:value="*{requestReqPosition.positionId}"
                                th:text="*{requestReqPosition.positionName}"></option>
                        <option th:each="p : ${allPositions}" th:value="${p.positionId}"
                                th:text="${p.positionName}">
                        </option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('requestReqPosition')}"
                         th:errors="*{requestReqPosition}" class="invalid-feedback text-break"></div>
                </div>
                <div hidden>
                    <label class="text-muted">Дата создания заявки</label>
                    <input type="date" class="form-control" th:field="*{requestCreationDate}"
                           th:value="*{requestCreationDate}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('requestCreationDate')}"
                         th:errors="*{requestCreationDate}" class="invalid-feedback text-break"></div>
                </div>
                <!--Дата работы-->
                <div class="mb-0">
                    <label class="text-muted">Дата работы</label>
                    <input type="date" class="form-control" th:field="*{requestDateOfWork}"
                           th:value="*{{requestDateOfWork}}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('requestDateOfWork')}"
                         th:errors="*{requestDateOfWork}" class="invalid-feedback text-break"></div>
                </div>
                <!--Время начала-->
                <div class="mb-0">
                    <label class="text-muted">Время начала</label>
                    <input type="time" class="form-control" th:field="*{requestStartTime}"
                           th:value="*{requestStartTime}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('requestStartTime')}"
                         th:errors="*{requestStartTime}" class="invalid-feedback text-break"></div>
                </div>
                <!--Время окончания-->
                <div class="mb-3">
                    <label class="text-muted">Время окончания</label>
                    <input type="time" class="form-control" th:field="*{requestEndTime}"
                           th:value="*{requestEndTime}" th:errorclass="is-invalid">
                    <div style="color: red" th:if="${#fields.hasErrors('requestEndTime')}"
                         th:errors="*{requestEndTime}" class="invalid-feedback text-break"></div>
                </div>
                <!--Комментарий-->
                <div>
                    <label class="text-muted">Комментарий(необязательно)</label>
                    <textarea class="form-control mb-3" th:field="*{requestComment}"
                              th:errorclass="is-invalid" rows="6"></textarea>
                    <div style="color: red" th:if="${#fields.hasErrors('requestComment')}"
                         th:errors="*{requestComment}" class="invalid-feedback text-break"></div>
                </div>
                <!--Кнопка сохранения-->
                <div class="row m-0 mb-0 text-xl-center">
                    <button type="submit" class="btn btn-outline-danger">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>