<nav class="navbar navbar-expand-lg bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">Staffer</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/requests">Поиск заявок</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/requests/my_requests">Мои заявки</a>
                </li>
            </ul>
            <div class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/my_profile">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bi " href="/auth/logout">Выйти</a>
                </li>
            </div>
            </ul>
        </div>
    </div>
</nav>